<html>
	<head>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<h1>JWT Demo</h1>
		<p>Enter credentials. You can then log in with them.</p>
		<form action="" method="POST">
			<div>
				<label for="email">Email: </label>
				<input name="email"/>
			</div>
			<div>
				<label for="password">Password: </label>
				<input name="password" type="password"/>
			</div>
			<div>
				<input type="submit" />
				<a href="/">Home</a>
			</div>
		</form>
	</body>
</html>